@import './reset';
@import './variables';
@import './grid';
@import './markdown.scss';

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
  background-color: #fff;
}

.root {
  font-family: 'NotoSans';
  overflow-x: hidden;
}
